.meanings{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
    height: 60vh;
    margin-left: 0.5vh;
    border: 5px solid rgba(30, 29, 32, 0.644);
    border-radius: 10px;
    padding: 5px 10px;
    overflow-x: hidden;
}
.meanings::-webkit-scrollbar {
    display: none;
}
.subTitle{
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
}
@media (max-width:900px){
    .meanings{
        height: 80vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}
.singleMean{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 10px;
}